<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
        <div class="container">
        {% if is_granted('IS_AUTHENTICATED_FULL') %}
          <a href="{{ logout_path() }}">Logout</a>
        </div>
        {% endif %}
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
